{% if page_obj.has_other_pages %}
  <nav aria-label="Page navigation" class="my-5">
    <ul class="flex justify-center space-x-2">
      {% if page_obj.has_previous %}
        <li>
          <a href="?page=1" class="px-3 py-1 rounded-lg hover:bg-gray-200 dark:hover:bg-gray-700">Первая</a>
        </li>
        <li>
          <a href="?page={{ page_obj.previous_page_number }}" class="px-3 py-1 rounded-lg hover:bg-gray-200 dark:hover:bg-gray-700">←</a>
        </li>
      {% endif %}
      {% for i in page_obj.paginator.page_range %}
        <li>
          <a href="?page={{ i }}" class="px-3 py-1 rounded-lg
            {% if page_obj.number == i %}
              bg-blue-500 text-white
            {% else %}
              hover:bg-gray-200 dark:hover:bg-gray-700
            {% endif %}
          ">
            {{ i }}
          </a>
        </li>
      {% endfor %}
      {% if page_obj.has_next %}
        <li>
          <a href="?page={{ page_obj.next_page_number }}" class="px-3 py-1 rounded-lg hover:bg-gray-200 dark:hover:bg-gray-700">→</a>
        </li>
        <li>
          <a href="?page={{ page_obj.paginator.num_pages }}" class="px-3 py-1 rounded-lg hover:bg-gray-200 dark:hover:bg-gray-700">Последняя</a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
